{
    "tabWidth": 2,
    "singleQuote": true,
    "semi": false,
    "trailingComma": "none",
    "overrides": [
        {
            "files": "*.blade.php",
            "options": {
                "parser": "html"
            }
        }
    ]
}